body {
    margin: 0 auto;
}

div {
    margin: 0px;
}

#header {
    background-color: ivory;
    width: 100%;
    height: 10vh;
    text-align: center;
    vertical-align: middle;
}

#header img {
    height: 80%;
}

#content {
    margin: 10px;
}

#content div {
    margin: 0 auto;
}

#recommends {
    text-align: left;
}

#score {
    color: moccasin;
}

#more-fashionable {
    width: 50%;
    height: 0;
}

#more-fashionable .show {
    height: 20%;
}

ul {
    list-style: none;
}

li {
    margin: 30px;
}

.card-wrapper {
    width: fit-content;
    height: 560px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    background-color: sandybrown;
}

.parent {
    position: relative;
}

.child {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
}

.card-left {
    display: block;
    float: left;
    width: fit-content;
}

.card-right {
    display: block;
    height: inherit;
    width: 0px;
    padding: 0px;
    transition-duration: 1.0s;
    transition-timing-function: ease;
    float: right;
}

.card-right h1 {
    text-align: center;
}

.show {
    width: 500px;
    padding: 10px;
}
