body {
    margin: 0 auto;
}

div {
    margin: 0px;
}

#header {
    background-color: ivory;
    width: 100%;
    height: 10vh;
    text-align: center;
    vertical-align: middle;
}

#header img {
    height: 80%;
}

#content {
    margin: 10px;
}

#content div {
    margin: 0 auto;
}

#recommends {
    text-align: left;
}

#score {
    color: moccasin;
}

#score:before {
    height: 20px;
    content: "Score";
    background-color: lemonchiffon;
    padding: 10px;
}

#recommends li {
    display: inline-block;
    border-bottom: solid lightgray 1px;
}

.card-wrapper {
    width: fit-content;
    height: 560px;
    overflow: hidden;
    border-radius: 10px;
}

.card-left {
    display: block;
    float: left;
}

.card-right {
    display: block;
    height: inherit;
    width: 0px;
    padding: 0px;
    transition-duration: 1.0s;
    transition-timing-function: ease;
    float: right;
    background-color: sandybrown;
}

.card-right h1 {
    text-align: center;
}

.show {
    width: 500px;
    padding: 10px;
}
